* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d9d9d9;
  font-family: "Poppins", sans-serif;
}
body::before {
  content: "";
  width: 100vw;
  height: 368px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #121214;
}
body,
label,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}
.page {
  width: 736px;
  margin: 0 auto;
}
header {
  width: 319px;
  margin-top: 72px;
}
header h1 {
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}
header p {
  color: #42d3ff;
  font-size: 16px;
  line-height: 26px;
  margin: 24px auto 0;
}
form {
  width: 736px;
  height: 400px;
  margin: 48px auto 0;
  border-radius: 8px;
  background: #fafafc;
  padding: 64px;
}
fieldset {
  border: none;
}
fieldset legend {
  font-family: "Archivo", sans-serif;
  color: #32264d;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 24px;
}
fieldset input {
  width: 100%;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  background: #fafafc;
  height: 56px;
  padding-left: 24px;
}
.input-wrapper label {
  color: #4e4958;
  font-size: 14px;
  line-height: 24px;
}
.input-wrapper label span {
  padding-left: 12px;
  color: #c1bccc;
  font-size: 12px;
  line-height: 20px;
}
